PORT=3000

DATABASE_URL=postgresql://sglha:sglha_dev_password@localhost:5432/sglha

WHATSAPP_VERIFY_TOKEN=sglha_dev_verify_2026

WHATSAPP_PHONE_NUMBER_ID= 1212843548587124

WHATSAPP_ACCESS_TOKEN= EAAgzrFXyGpcBSXgqZArPD2umRBX4WD8UwtVUip0ujj73rBjwZAZAikXNwOprJy4I9pHgLb60ZCTdDYZAObKEwUBQvLOVGpjGkWwoEvpsWu9E73MEWwPfODH7oydgIsZAqpuCPkZAjhesRCJ4b9vZABZAOrxwFt0XG44YC0lhG7RED7fhIZCi2CGlZCEoZC2ZCCcwwnwZDZD

OLLAMA_API_KEY=db748bef34ad43b5bb52fbdc12ae4cd9.cIDDPvXi1LC4sT3I_1Xjfqtm

OLLAMA_MODEL=gemma4:latest
