PORT=3000

WHATSAPP_VERIFY_TOKEN=sglha_dev_verify_2026

WHATSAPP_PHONE_NUMBER_ID=1334758973045430

WHATSAPP_ACCESS_TOKEN=EAAgzrFXyGpcBSag5ZCmKD5rYYc3g7OfyHPqGS8YFajvzPVsnVjop90PEvLdLvvNNOnlFPZCSfULoIhZAUeeclUYVyqx7rjrlDk51ADie5H5hzjGHbZBqlVFxwHNTgSFIamFRQw1CDQaJPLDXpJLPLy91F6oBicLst6r4gVRyvgUJ2uBNgV4dHmX5ZAkxy8psHlqYoB7ZAWecDarqFFcwh0c6ZCktT8bo0lNrEccsRy4cz9J9M7Q6J0JPM4ZCSbwOcw7uRlsIfpI2YIhkGo5EeaPy
